* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16pt
}
video {
  right: 0;
  bottom:0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}
#search-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}